#sidebar-wrapper {
    // min-width: 250px;
    // max-width: 250px;
    width: 290px;
    background: #7386D5;
    color: #fff;
    transition: all 0.25s ease-in-out 0s;
    // height: auto !important;
    height: 100%;
    display: block !important;
    padding: 25px 0;
}
#sidebar-wrapper.show {
  margin-left: 0;
  width: 70px; 
  span.list-text-inner {
    display: none;
  }
  [data-toggle=collapse] > a:before{
    right: 12px;
  }
  .sidebar-header{
    opacity: 0;
  }
}

@media (max-width: 767px) {
  #sidebar-wrapper {
      margin-left: -290px;
  }
  #sidebar-wrapper.show {
      margin-left: 0;
  }
}


// nav list
.sidebar-nav {
    padding-left: 0;
    list-style: none;
    // header
    .sidebar-header {
      background: transparent;
      color: #f8f8f8;
      padding: .375rem 1.5rem;
      font-size: 15px;
      text-transform: none;
      font-weight: 700;
  } 
   ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 220px;
    position: relative;
    z-index: 9;
      li a {
      padding-left:60px;
      }
  }

    //  link
    li.active-link a{
      background: #363535; 
    }
   a.list-group-item-action {
    display: block;
    padding: .75rem 1.5rem;
    color: #d0d0d0;
    font-weight: 400;
    background: #434343;
    transition: background .1s ease-in-out;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    &:hover{
      background: #363535;
    }
    .icon {
      margin-right: 15px;
    }
    
  }
}

.sidebar-nav [data-toggle=collapse] > a:before{
  content: " ";
  border: solid;
  border-width: 0 .1rem .1rem 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; 
}
// , .sidebar-nav  [data-toggle=collapse]:not(.collapsed) > a:before
.sidebar-nav  [aria-expanded=true] > a:before{
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
