<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="btn" id="menu-toggle" data-toggle="collapse" data-target="#sidebar-wrapper" (click)="addclass()"><span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span></button>
    <div class="site-logo">
      <img src="assets/logo.png" width="150" height="50"/>
    </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a className="nav-link"><span class="icon"><img src="assets/svgs/user.svg" height="20" width="20"/></span>User</a>
      </li>
      <li class="nav-item">
        <a className="nav-link"><span class="icon"><img src="assets/svgs/logout.svg" height="20" width="20"/></span>Logout</a>
      </li>
    </ul>
  </div>
</nav>
